#cloud-services {
  width: 100%;
  @mixin displayInline {
    display: inline-block;
    text-align: center;
    width: 80%;
    color: black;
  }

  ul {
    padding: 0px;
    li {
      width: 260px;
      height: 40px;
      margin-top: 25px;
      background-color: white;
      a {
        text-decoration: none;
        .arrow-right {
          display: inline-block;
          height: 40px;
          text-align: center;
          width: 20px;
          font-size: 20px;
          background-color: #585ce9;
          color: white;
          transition: width 1s;
        }
      }
    }
  }
  li:hover {
    .arrow-right {
      width: 30px;
    }
  }

  margin-top: 100px;
  .container {
    .image {
      margin-top: 30px;
      img {
        width: 90%;
      }

      display: flex;
      justify-content: center;
    }
    .near-cloud {
      @include displayInline();
    }
    .backup-system {
      @include displayInline();
    }
    .api-cloud {
      @include displayInline();
    }
    .web-service {
      @include displayInline();
    }
    .office-cloud {
      @include displayInline();
    }
    .hybrid-cloud {
      @include displayInline();
    }
    .sdk-cloud {
      @include displayInline();
    }
    .cloud-hosting {
      @include displayInline();
    }
  }
}
@media (max-width: 991px) {
  .row {
    .col-6 {
      min-width: 100%;
      .row {
        .col-6 {
          min-width: 50%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .row {
    .col-6 {
      min-width: 100%;
      .row {
        .col-6 {
          width: 100%;
          ul {
            li {
              margin: 0px;
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
