#learn-more {
  width: 100%;
  margin-top: 170px;
  @mixin toScale {
    transform: scale(1.5);
    transition: 0.3s;
  }
  @mixin forImages {
    display: flex;
    justify-content: center;
    // padding: 0px;
    overflow: hidden;
    margin-top: 10px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    .col-6 {
      .title {
        margin-left: 150px;
        h2 {
          display: inline;
          text-align: center;
        }
        .last-word {
          color: #585ce9;
        }
      }
      .description {
        text-align: center;
        margin-left: 150px;
        margin-top: 50px;
      }
      .row {
        display: flex;
        justify-content: center;
        .col-6 {
          width: 270px;
          border-radius: 5px;
          padding-left: 0px;
        }
      }
    }
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
    .learn-btn {
      background-color: #585ce9;
      border-radius: 5px;
      width: 170px;
      height: 45px;
      border: none;
      color: white;
    }
  }
  .image-1 {
    @include forImages();
    img {
      border-radius: 5px;
      width: 264px;
      height: 335px;
    }
  }
  .image-1:hover {
    img {
      @include toScale();
    }
  }

  .image-2 {
    @include forImages();
    img {
      width: 264px;
      height: 251px;
      border-radius: 5px;
    }
  }
  .image-2:hover {
    img {
      @include toScale();
    }
  }
  .image-3 {
    @include forImages();
    img {
      width: 264px;
      height: 200px;
      border-radius: 5px;
    }
  }
  .image-3:hover {
    img {
      @include toScale();
    }
  }

  .image-4 {
    @include forImages();
    img {
      width: 264px;
      height: 282px;
      border-radius: 5px;
    }
  }
  .image-4:hover {
    img {
      @include toScale();
    }
  }
  @media (max-width: 1400px) {
    .container {
      width: 100%;

      .row {
        min-width: 100%;
        .col-6 {
          .title {
            margin-left: 0px;
          }
          .description {
            margin-left: 0px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .container {
      width: 100%;

      .row {
        .col-6 {
          max-width: 40%;
          padding: 0px;
          .row {
            display: flex;
            justify-content: center;
            min-width: 100%;
            .col-6 {
              max-width: 40%;
              .image-1 {
                max-width: 90%;
              }
              .image-2 {
                max-width: 90%;
              }
              .image-3 {
                max-width: 90%;
              }
              .image-4 {
                max-width: 90%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    .container {
      width: 100%;

      .row {
        min-width: 100%;
        .col-6 {
          width: 100%;
          .title {
            text-align: center;
            margin-left: 0px;
          }
          .description {
            margin-left: 0px;
          }
          .row {
            .col-6 {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .container {
      width: 100%;

      .row {
        min-width: 100%;
        .col-6 {
          min-width: 100%;
          .title {
            text-align: center;
            margin-left: 0px;
          }
          .description {
            margin-left: 0px;
          }
          .row {
            max-width: 100%;
            .col-6 {
              margin-top: 30px;
              min-width: 50%;
            }
          }
        }
      }
    }
  }
}
