#price-plan {
  margin-top: 100px;
  width: 100%;
  .row:nth-child(1) {
    justify-content: center;
    .title {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .description {
      display: inline-block;
      width: 500px;
      text-align: center;
      color: grey;
      margin-bottom: 50px;
      margin-top: 30px;
    }
  }

  .row:nth-child(2) {
    justify-content: center;
    .col-4 {
      padding: 0px;
      width: 350px;
      background-color: white;
      border-radius: 5px;
      margin-right: 30px;
      margin-bottom: 10px;
      .offer-titles {
        padding: 30px;
        h3 {
          font-size: 16px;
          text-align: center;
        }
      }

      .offer-numbers {
        background-color: azure;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        border-radius: 100px;
        width: 42px;
        height: 42px;
      }

      .offer-prices {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;

        .currency {
          color: #585ce9;
          font-size: 20px;
          margin-bottom: 10px;
        }
        .price {
          color: #585ce9;
          font-size: 30px;
        }
        .period {
          margin-top: 7px;
          color: #585ce9;
          font-size: 20px;
        }
      }
      .offer-list {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        ul {
          padding: 0px;
          text-align: center;
          list-style: none;
          color: black;

          li {
            margin-bottom: 12px;
          }
        }
      }

      .select-plan {
        padding: 20px;
        display: flex;
        justify-content: center;
        .select-btn {
          border-radius: 10px;
          width: 160px;
          height: 44px;
          border: none;
          background-color: #585ce9;
          color: white;
        }
        .select-btn:focus {
          background-color: green;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .row:nth-child(2) {
      justify-content: center;
      .col-4 {
        max-width: 30%;
        margin-right: 30px;
      }
    }
  }
  @media (max-width: 992px) {
    .row:nth-child(2) {
      min-width: 100%;
      justify-content: flex-start;
      .col-4 {
        min-width: 45%;
        margin-right: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    .row:nth-child(2) {
      min-width: 100%;
      justify-content: flex-start;
      .col-4 {
        min-width: 100%;
        margin-right: 30px;
      }
    }
  }
}
