@mixin toScale {
  transform: scale(1.5);
  transition: 0.3s;
}
@mixin description {
  padding: 50px 50px;
  p {
    font-size: 20px;
  }
}
#publication {
  margin-top: 100px;
  .container {
    .col-12:nth-child(1) {
      border-radius: 5px;
      padding: 0px;
      background-color: white;
      .image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        min-width: 100%;
        img {
          width: 100%;
          height: 500px;
        }
      }

      .by-user {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        ul {
          list-style: none;
          li {
            display: inline;
            margin-right: 30px;
            a {
              text-decoration: none;
              color: #585ce9;
            }
          }
        }
      }
      .slider-image {
        padding: 20px;
        .row {
          .col-4 {
            display: flex;
            justify-content: center;
            .image-example {
              overflow: hidden;
              cursor: pointer;
              img {
                border-radius: 5px;
                width: 204px;
                height: 193px;
              }
            }
            .image-example:hover {
              img {
                @include toScale();
              }
            }
          }
        }
      }
      .first-description {
        @include description();
      }
      .second-description {
        @include description();
      }
      .citation {
        background-color: #f4f8fb;
        margin: 0 50px;
        padding: 50px 100px;
        text-align: center;

        p:nth-child(2) {
          font-size: 20px;
        }
      }

      .third-description {
        @include description();
      }
      .poster {
        border-top: 1px solid #585ce9;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social-medias {
          .social {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
              display: inline;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .col-12:nth-child(2) {
      margin-top: 50px;
      border-radius: 5px;
      padding: 0px;
      background-color: white;
      .title {
        padding: 20px 50px;
        color: grey;
        opacity: 0.5;
        .number-for-api {
          display: inline;
        }
      }
      .comments {
        padding: 0px 50px;
        margin: 30px;
        .image {
          display: inline-block;
        }
        .user-output-name {
          position: absolute;
          margin-left: 20px;

          display: inline-block;
        }
        .user-output-comment {
          margin-left: 20px;
          display: inline-block;
        }
      }
    }
    .col-12:nth-child(3) {
      margin-top: 50px;
      border-radius: 5px;
      padding: 0px;
      background-color: white;

      .title {
        padding: 20px 50px;
        color: grey;
        opacity: 0.5;
        .number-for-api {
          display: inline;
        }
      }

      .input-comment {
        padding: 0 50px;
        label {
          margin-top: 40px;
        }
        input {
          width: 100%;
          height: 40px;
          outline: none;
          opacity: 0.5;
        }
        input:focus {
          border: 1px solid #585ce9;
        }
        .comment-field {
          height: 100px;
        }
        .submit-btn {
          margin-top: 50px;
          width: 160px;
          height: 44px;
          border-radius: 5px;
          background-color: #585ce9;
          border: none;
          color: white;
        }
      }
    }
    .col-4 {
      .search {
        border: 1px solid black;
        border-radius: 5px;

        background-color: white;
        display: flex;
        align-items: center;
        input {
          width: 90%;
          height: 40px;
          outline: none;
          border: none;
        }
        .search-icon {
          background-color: #585ce9;
          width: 30px;
          height: 40px;
          height: 100%;
          cursor: pointer;
          i {
            color: white;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .citation {
    padding: 0px !important;
  }
  .col-8 {
    min-width: 100%;
    .row {
      .col-4 {
        min-width: 100%;
        .image-example {
          min-width: 100%;
        }
        img {
          min-width: 100%;
        }
      }
    }
  }
  .col-4 {
    margin-top: 50px;
    width: 100%;
  }
}
